---
http_interactions:
- request:
    method: post
    uri: http://battle.platform45.com/register
    body:
      encoding: UTF-8
      string: '{"name":"Name","email":"email@gmail.com"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"4131","x":4,"y":9}'
  recorded_at: Fri, 11 Mar 2016 19:55:28 GMT
- request:
    method: post
    uri: http://battle.platform45.com/nuke
    body:
      encoding: UTF-8
      string: '{"id":"4131","x":"0","y":"0"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"status":"miss","x":4,"y":8}'
  recorded_at: Fri, 11 Mar 2016 19:55:29 GMT
recorded_with: VCR 3.0.1
